.cube-wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-right-0 {
  border-right-width: 0;
}

.border-right-1 {
  border-right: solid 1px #000;
}

.border-right-4 {
  border-right: solid 4px #000;
}

.border-bottom-0 {
  border-bottom-width: 0;
}

.border-bottom-1 {
  border-bottom: solid 1px #000;
}

.border-bottom-4 {
  border-bottom: solid 4px #000;
}
